body {
    background-color: #F8F8F8;
}
#logo {
    margin-left: 55px;
    margin-top: 15px;
    width: 7%;
}
nav {
    display: inline-block;
    float: right;
    
    margin-top: 15px;
    margin-right: 60px;
}
ul {
    display: inline-flex;
    
    
}
li {
    list-style-type: none;
    margin-right: 40px;
    margin-top: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9E9E9E;
}


h1 {
    display: inline-block;
    float: left;
    margin-top: 130px;
    margin-left: 120px;
    width: 40%;
   
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9E9E9E;
}
p {
    display: inline-block;
    float: left;
    margin-top: -70px;
    margin-right: 58%;
    margin-left: 120px;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #9E9E9E;
}
#mergaite {
    display: inline-block;
    position: absolute;
    width: 45%;
}